.post__wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://img.freepik.com/free-vector/gradient-blur-pink-blue-abstract-background_53876-117324.jpg?w=900&t=st=1675188227~exp=1675188827~hmac=46e28bebc82abe965c3310ec23e2a551abbe1a63dc203e920773f30300c5855c)
      no-repeat center center fixed;
    background-size: cover;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.31);
    padding: 30px 20px;
  }
  
  .post {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .post input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    background-color: rgba(240, 248, 255, 0) ;
  }