.posts {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
  
.container {
background: rgba(255, 255, 255, 0.3);
border-radius: 20px;
box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.31);
padding: 30px 20px;
text-align: start;
}

.table, table *{
    background-color:#ffffff00 !important;
    
}

table thead *{
    font-size: large;
}

table tbody *{
    font-size: medium;
}

